@CHARSET "UTF-8";

*
  font-family Vollkorn, Georgia, serif

div
  background-color #0277BD
  border-radius 3px
  margin auto
  width 60%

hr
  color #01579B
  background #01579B
  height 1px
  width 90%

h3
  display inline-block
  margin-top 50px

p
  font-size 12px
  margin-top 0em

img
  float right
  width 100px
  margin-right 70px
  border-radius 30px
  margin-top auto

li
  list-style square

table
  width 90%
  margin-left 20px;
  margin-right 30px


th
  font-weight bold
  padding-left 20px
  text-align left

td
  padding-left 30px
  text-align justify

#encabezado
  width 60%
  z-index 1
  text-align center

#pie
  width 60%
  height 2px
  background-color gray
  clear both

.cv
  border 1px solid
  background-color white
  width 60%

.seccion
  color #01579B



